.form {
    background-image: url('../../../images/form_background.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
}


.form-container {
    max-width: 600px;
    margin: auto;
    padding-top: 160px;
}

.form .form-inline-container {
    // width: 590px;
    // display: block;
    // position: relative;
    // left: 375px;
    // top: 85px;
}

label {
    margin: 10px 0 15px 20px;
    display: inline-block;
    color: #ff6a00;
    font-size: 24px;
}

input, textarea {
    height: 30px;
    margin-top: 5px;
    display: block;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: white;
    color: #282828;
    font-size: 20px;
    font-family: 'Jua', sans-serif;
}

input {
    width: 270px;
}

textarea {
    width: 550px;
    height: 80px;
}

.form div:nth-of-type(4) label:last-of-type {
    margin-left: 0;
}

button {
    width: 200px;
    height: 60px;
    border-radius: 15px;
    display: inline;
    // background-color: darkgrey;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Merriweather', serif;
    color: black;
    position: relative;
    // top: 75px;
    left: 420px;
    margin: auto;
    margin-right: 20px;
}

.back {
    background-image: url('../../../images/arrow-left.png');
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 15px;
}

::-webkit-input-placeholder {
    color: #282828;
    font-family: 'Jua', sans-serif;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #282828;
    font-family: 'Jua', sans-serif;
}
:-ms-input-placeholder {
    color: #282828;
    font-family: 'Jua', sans-serif;
}
