.templates {
    border: 75px solid #ff6a00;
    width: 650px;
    height: 150px;
    background-color: black;
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
    margin-top: 20px;
    font-size: 50px;
    color: #fff;
}

.templates p {
    margin: 10px;
    text-align: center;
}

.templates a {
    text-align: center;
    margin: 25px;
    font-size: 30px;
    color: #ff6a00;
}
